/* 使用flex布局order进行排序 */
/* 定位头像与同框item于顶端 */
#userInfoHolder .contentItemContent>div>div>div:nth-child(1) {order: -1;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(2) {order: -1;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(1) {order: -1;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(2) {order: -1;}

/* 列举信息item排序 */
#userInfoHolder .contentItemContent>div>div>div:nth-child(3) {order:0;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(3) {order:0;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(4) {order:1;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(4) {order:1;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(5) {order:2;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(5) {order:2;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(6) {order:3;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(6) {order:3;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(7) {order:4;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(7) {order:4;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(8) {order:5;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(8) {order:5;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(9) {order:6;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(9) {order:6;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(10) {order:7;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(10) {order:7;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(11) {order:8;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(11) {order:8;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(12) {order:9;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(12) {order:9;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(13) {order:10;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(13) {order:10;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(14) {order:11;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(14) {order:11;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(15) {order:12;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(15) {order:12;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(16) {order:13;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(16) {order:13;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(17) {order:14;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(17) {order:14;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(18) {order:15;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(18) {order:15;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(19) {order:16;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(19) {order:16;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(20) {order:17;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(20) {order:17;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(21) {order:18;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(21) {order:18;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(22) {order:19;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(22) {order:19;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(23) {order:20;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(23) {order:20;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(24) {order:21;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(24) {order:21;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(25) {order:22;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(25) {order:22;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(26) {order:23;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(26) {order:23;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(27) {order:24;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(27) {order:24;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(28) {order:25;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(28) {order:25;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(29) {order:26;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(29) {order:26;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(30) {order:27;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(30) {order:27;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(31) {order:28;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(31) {order:28;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(32) {order:29;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(32) {order:29;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(33) {order:30;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(33) {order:30;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(34) {order:31;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(34) {order:31;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(35) {order:32;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(35) {order:32;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(36) {order:33;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(36) {order:33;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(37) {order:34;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(37) {order:34;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(38) {order:35;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(38) {order:35;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(39) {order:36;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(39) {order:36;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(40) {order:37;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(40) {order:37;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(41) {order:38;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(41) {order:38;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(42) {order:39;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(42) {order:39;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(43) {order:40;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(43) {order:40;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(44) {order:41;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(44) {order:41;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(45) {order:42;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(45) {order:42;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(46) {order:43;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(46) {order:43;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(47) {order:44;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(47) {order:44;}
#userInfoHolder .contentItemContent>div>div>div:nth-child(48) {order:45;}
#userInfoHolder2 .contentItemContent>div>div>div:nth-child(48) {order:45;}
